<div class="mr-auto">
    <nav class="site-navigation position-relative text-right" role="navigation">
        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active">
                <a href="index.html" class="nav-link text-left">Home</a>
            </li>
            <li class="has-children">
                <a href="about.html" class="nav-link text-left">About Us</a>
                <ul class="dropdown">
                    <li><a href="teachers.html">Our Teachers</a></li>
                    <li><a href="about.html">Our School</a></li>
                </ul>
            </li>
            <li>
                <a href="admissions.html" class="nav-link text-left">Admissions</a>
            </li>
            <li>
                <a href="courses.html" class="nav-link text-left">Courses</a>
            </li>
            <li>
                <a href="contact.html" class="nav-link text-left">Contact</a>
            </li>
        </ul>                                                                                                                                                                                                                                                                                          </ul>
    </nav>

</div>
