<!DOCTYPE html>

<title>New Etablissement</title>

{% block body %}
    <h1>Create new Etablissement</h1>

    {{ include('admin/etablissement/_form.html.twig') }}

    <a href="{{ path('admin_etablissement_index') }}">back to list</a>
{% endblock %}
