{% extends 'front/base.html.twig' %}

{% block title %}Espace Conseiller - SchoolPrepar{% endblock %}

{% block content %}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('{{ asset('assets/images/bg_1.jpg') }}')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Espace Conseiller</h2>
                <p>Bienvenue {{ user.nom }}, voici votre tableau de bord</p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="{{ path('app_home') }}">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Espace Conseiller</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Menu</h5>
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action active">
                                <i class="icon-home mr-2"></i>Tableau de bord
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-user mr-2"></i>Mon Profil
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-calendar mr-2"></i>Rendez-vous
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-users mr-2"></i>Étudiants suivis
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-briefcase mr-2"></i>Mentorat
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <i class="icon-graduation-cap mr-2"></i>Filières
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-9">
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Étudiants suivis</h5>
                                <p class="card-text display-4">24</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <h5 class="card-title">Rendez-vous ce mois</h5>
                                <p class="card-text display-4">15</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card bg-info text-white">
                            <div class="card-body">
                                <h5 class="card-title">Sessions de mentorat</h5>
                                <p class="card-text display-4">8</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Espace Conseiller d'Orientation</h5>
                        <p class="card-text">
                            En tant que conseiller, vous accompagnez les étudiants dans leur parcours d'orientation académique et professionnelle.
                        </p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-primary mr-2">
                                <i class="icon-calendar mr-2"></i>Prendre un rendez-vous
                            </a>
                            <a href="#" class="btn btn-outline-primary">
                                <i class="icon-users mr-2"></i>Voir mes étudiants
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Rendez-vous à venir</h5>
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Session d'orientation - Marie Dubois</h6>
                                    <small>Aujourd'hui - 14:00</small>
                                </div>
                                <p class="mb-1">Discussion sur les choix de filières après le bac.</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Suivi post-admission - Thomas Martin</h6>
                                    <small>Demain - 10:30</small>
                                </div>
                                <p class="mb-1">Accompagnement dans les démarches d'inscription.</p>
                            </div>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">Atelier CV - Groupe de 5 étudiants</h6>
                                    <small>Vendredi - 15:00</small>
                                </div>
                                <p class="mb-1">Atelier collectif sur la rédaction de CV et lettres de motivation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
