<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p class="mb-4"><img src="{{ asset('assets/images/logo.png') }}" alt="SchoolPrepar" class="img-fluid">
                </p>
                <p>SchoolPrepar est la plateforme leader de l'orientation scolaire et professionnelle, accompagnant
                    chaque étudiant vers sa voie de réussite.</p>
                <p><a href="#">En savoir plus</a></p>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Notre Plateforme</span></h3>
                <ul class="list-unstyled">
                    <li><a href="{{ path('app_vitrine_filieres') }}">Filières</a></li>
                    <li><a href="{{ path('app_vitrine_etablissements') }}">Établissements</a></li>
                    <li><a href="#">Tests d'orientation</a></li>
                    <li><a href="#">Conseillers</a></li>
                    <li><a href="#">Mentorat</a></li>
                    <li><a href="#">Webinaires</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Domaines d'Études</span></h3>
                <ul class="list-unstyled">
                    <li><a href="{{ path('app_vitrine_filieres') }}">Sciences & Technologies</a></li>
                    <li><a href="#">Santé & Social</a></li>
                    <li><a href="#">Droit & Économie</a></li>
                    <li><a href="#">Arts & Lettres</a></li>
                    <li><a href="#">Commerce & Management</a></li>
                    <li><a href="#">Ingénierie</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h3 class="footer-heading"><span>Aide & Contact</span></h3>
                <ul class="list-unstyled">
                    <li><a href="#">Centre d'aide</a></li>
                    <li><a href="#">Forum communautaire</a></li>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="#">Témoignages</a></li>
                    <li><a href="#">Partenaires</a></li>
                    <li><a href="#">Presse</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copyright">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> SchoolPrepar - Tous droits réservés |
                        Plateforme d'orientation scolaire et professionnelle
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>