<!-- En-tête de section -->
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
    style="background-image: url('{{ asset('assets/images/bg_1.jpg') }}');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">{{ title|default('Titre de la section') }}</h2>
                <p class="mb-0">{{ subtitle|default('Description de la section') }}</p>
            </div>
        </div>
    </div>
</div>
